body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

li {
    padding-left: 10px;
    padding-right: 10px;
}

#button {
    background-color: #3882F6;
    color: #F9FAF8;
    text-align: center;
    border: none;
    border-radius: 8px;
    padding: 8px;
}

.header, .footer {
    background-color: #1F2937;
    color: #E5E7EB;
}

.header-links, .hero-content {
    font-size: 18px;
}

.header-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
}

.logo-placeholder {
    color: #F9FAF8;
    font-size: 24px;
}


.hero-block {
    display: flex;
    flex-direction: row;
}

.hero-header {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-image {
    background-color: gray;
    color: #E5E7EB;
    text-align: center;
}

.info-block {
    display: flex;
    flex-direction: column;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.info-content {
    display: flex;
    flex-direction: row;
}

.item-box {
    border: 2px solid #1F2937;
    width: 200px;
    height: 200px;
    border-radius: 25px;
    margin: 20px;
}

.item-text {
    text-align: center;
}

.quote-block {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.footer {
    padding: 8px;
    text-align: center;
}